@import "tachyons";
@import "./prism.pcss";

li.list-item {
  transition: opacity 200ms ease-in;
}

li.list-item.hidden {
  opacity: 0;
}
li.list-item.show {
  opacity: 1;
}

section.blog-post > pre {
  margin: 2em;
  border-radius: 3px;
}
