<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ '/img/favicon/apple-touch-icon.png' | addHash }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ '/img/favicon/favicon-32x32.png' | addHash }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ '/img/favicon/favicon-16x16.png' | addHash }}"
    />
    <link rel="stylesheet" href="{{ '/styles.min.css' | addHash }}" />

    <title>{{ site.title }}</title>
  </head>
  <body>
    <header>
      <nav>
        <h1>
          <a href="/"> {{ site.title }} </a>
        </h1>
      </nav>
      {% if title %}
      <h1>{{ title }}</h1>
      <p>
        <date>{{ date | formatDate }}</date>
      </p>
      {% endif %}
    </header>
    <main>
      <section>
        {{ content | safe }}
      </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/2.0.0/quicklink.umd.js"></script>
    <script>
      window.addEventListener('load', () => {
        quicklink.listen();
      });
    </script>
  </body>
</html>
